*.egg
*.egg-info
*.mo
*.pyc
*.pyo
.Python
.coverage
.coverage.*
.eggs
.installed.cfg
.mr.developer.cfg
.tox/
bin
build
coverage.xml
develop-eggs
dist
downloads
eggs
htmlcov/
include/
lib/
local.cfg
parts
pip-selfcheck.json
var
