include *.txt
include *.rst
include buildout.cfg
include tox.ini

recursive-include src *.gif
recursive-include src *.pt
recursive-include src *.py
recursive-include src *.xml
recursive-include src *.zcml
